* {
  margin: 0;
}

:root {
  --white: #ffffff;
  --text: #000;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  background-color: var(--white);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-section {
  margin-top: 40px;
  height: 354px;
  width: 100%;
  max-width: 1280px;
}

.hero-style {
  width: 145px;
  height: 274px;
  background-image: url("../images/image_home_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 226px;
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.hero-title {
  max-width: 288px;
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-self: center;
}

.hero-items {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 167px;
  padding-top: 110px;
  padding-left: 11px;
}

.hero-subtitle {
  max-width: 46px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-icon {
  width: 76px;
  height: 76px;
}

@media (min-width: 768px) {
  .hero-section {
    margin-top: 60px;
  }

  .hero-style {
    width: 390px;
    height: 636px;
    gap: 172px;
  }

  .hero-title {
    font-size: 120px;
  }

  .hero-item {
    gap: 450px;
    padding-top: 262px;
    padding-left: 49px;
  }

  .hero-subtitle {
    font-size: 24px;
  }

  .hero-icon {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1280px) {
  .hero-section {
    margin-top: 60px;
  }

  .hero-style {
    width: 390px;
    height: 636px;
    gap: 172px;
  }

  .hero-title {
    font-size: 120px;
  }

  .hero-item {
    gap: 450px;
    padding-top: 262px;
    padding-left: 49px;
  }

  .hero-subtitle {
    font-size: 24px;
  }

  .hero-icon {
    width: 150px;
    height: 150px;
  }
}
